testeimagem/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": " webhook/devices",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        -32
      ],
      "id": "5e679770-0a7f-4f7d-8cd9-f68e936930e0",
      "name": "Webhook",
      "webhookId": "18f5f7af-c932-4b7a-8de6-5a4b38ee67ed"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1eb0f00-cc14-4ab9-867b-cf55cf3b2732",
              "leftValue": "={{$json.serial}}",
              "rightValue": "={{$json.model}} != \"\"",
              "operator": {
                "type": "dateTime",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "a5e7c285-a207-423d-9377-3331324455dd",
              "leftValue": "={{$json.model}}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        -32
      ],
      "id": "b06fd240-98c1-4938-b59d-f08aad69e1ff",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "={\"success\": false, \"message\": \"Payload inválido: serial e model são obrigatórios.\"}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        336,
        144
      ],
      "id": "def235b8-1f0d-4f46-b56a-6f7abdc88e50",
      "name": "Stop and Error",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:5000/register",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        320,
        -128
      ],
      "id": "c9d7925f-ed3e-4da9-9b38-2dce6becf9cf",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "dispositivos",
          "mode": "list",
          "cachedResultName": "dispositivos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "integration_id": "={{$json.integration_id}}",
            "name": "={{$json.name}}",
            "location": "={{$json.location}}",
            "created_at": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "integration_id",
              "displayName": "integration_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        528,
        -128
      ],
      "id": "888421eb-7d8e-484b-bc97-c5817040165f",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "aHoOBqqFB9oQ58ng",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "=    {{ {\n      success: true,\n      device: { serial: $json.serial, model: $json.model },\n      register: $json.data?.register\n    } }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        784,
        -128
      ],
      "id": "7d69d6a5-f912-4a34-91ef-1810165ea0dc",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "=    {{ {\n      success: false,\n      message: $json.error || 'Erro ao processar dispositivo'\n    } }}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        624,
        144
      ],
      "id": "949487f8-193e-439a-8415-fdeb16bc2713",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop and Error": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "97e368e7-3d9f-49d4-ad19-04f40e5373f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "822177d21b8b3c8e6c85a29ba2ff9207faec9a9db1e860e3f943cfbd3c0515a4"
  },
  "id": "HcVyyiXI36Rg5qbd",
  "tags": []
}