testeimagem/n8n.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "67706947-c769-4c56-b3ce-f7a39e116642",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "4706c94b-7640-490e-ad6e-d736c5cbec71",
      "name": "Webhook post",
      "webhookId": "67706947-c769-4c56-b3ce-f7a39e116642",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/register",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"deviceName\": \"{{ $json.body.deviceName }}\",\n  \"location\": \"{{ $json.body.deviceId }}\",\n  \"callbackUrl\": \"{{ $json.webhookUrl }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "9c1ed115-b5b3-4576-b332-f1769f99d141",
      "name": "Register"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "register",
          "mode": "list",
          "cachedResultName": "register"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "integration_id": "={{ $json.integrationId }}",
            "device_id": "={{ $('Webhook post').item.json.body.deviceId }}",
            "device_name": "={{ $('Webhook post').item.json.body.deviceName }}",
            "callback_url": "={{ $('Webhook post').item.json.webhookUrl }}",
            "location": "={{ $('Webhook post').item.json.body.deviceId }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "integration_id",
              "displayName": "integration_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "device_id",
              "displayName": "device_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "device_name",
              "displayName": "device_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "callback_url",
              "displayName": "callback_url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mock_response",
              "displayName": "mock_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        0
      ],
      "id": "ac8b64cb-11b9-4cb1-b8e1-ecc8061d912b",
      "name": "Register insert",
      "credentials": {
        "postgres": {
          "id": "1COFfObCfWiWJvab",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "=     {\n       \"status\": \"success\",\n       \"integrationId\": \"{{ $json.integration_id }}\",\n       \"device\": \"{{ $json.device_name }}\",\n       \"createdAt\": \"{{$json[\"created_at\"]}}\"\n     }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        624,
        0
      ],
      "id": "12520ec4-d4b5-4bfb-82ad-78ae784698e6",
      "name": "Respond to Webhook register"
    },
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "58a3c780-bd3c-4e71-9496-768e36f335e3",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        256
      ],
      "id": "7336cd2a-dcae-4e30-96bf-d747b114178c",
      "name": "delete register",
      "webhookId": "58a3c780-bd3c-4e71-9496-768e36f335e3",
      "disabled": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=http://host.docker.internal:5000/unregister/{{ $json.query.integrationId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        192,
        256
      ],
      "id": "4a28e391-79b9-4c0d-93f1-1f0a7037783b",
      "name": "Delete register"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM register WHERE integration_id = '{{ $('delete register').item.json.query.integrationId }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        400,
        256
      ],
      "id": "e08b0fc5-92c7-44db-b17c-6a28c499432f",
      "name": "Query sql delete",
      "credentials": {
        "postgres": {
          "id": "1COFfObCfWiWJvab",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"integrationId\": \"={{ $('delete register').item.json.query.integrationId }}\",\n  \"message\": \"Dispositivo removido com sucesso\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        608,
        256
      ],
      "id": "1802e61b-d7dc-4879-b427-e6db10935581",
      "name": "Respond to Webhook delete"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d171ffbd-8a6f-4c53-83c0-85176369f9dc",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        528
      ],
      "id": "c8c0c868-f693-48b3-8554-3a3b11dea3a5",
      "name": "Webhook",
      "webhookId": "d171ffbd-8a6f-4c53-83c0-85176369f9dc",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "df213865-db58-4c92-8d4a-791f4c7319dd",
              "leftValue": "={{ $json.body.isAlarm }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        528
      ],
      "id": "ae9e3eb1-6503-42d9-8ee9-9078ed20018a",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://flowise:3000/api/v1/prediction/0bcd52a2-68be-4645-a5bc-8f9c81de3046",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=  {\n    \"metadata\": {\n      \"event_id\": \"{{ $json.body.integrationId }}\",\n      \"signal_strength\": \"{{$json.body.signalStrength}}\",\n      \"battery_level\": \"{{$json.body.batteryLevel}}\"\n    },\n    \"payload\": {{$json.body | json }}\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        464
      ],
      "id": "210a081e-83c3-4cfe-8518-2f0b51829d05",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "flowise_logs",
        "fields": "=  {\n    \"integrationId\": \"{{ $json.body.integrationId }}\",\n    \"receivedAt\": \"{{ $now }}\",\n    \"event\": {{ $json.body | json }},\n    \"triage\": {{ $node[\"HTTP Request\"].json | json }},\n    \"summary\": \"{{ $node[\"Message a model\"].json.output[0].content[0].text }}\"\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1824,
        480
      ],
      "id": "56738b94-7f3b-4c6c-8df3-f0184adc88c6",
      "name": "Insert documents",
      "credentials": {
        "mongoDb": {
          "id": "NEBkFEDGfL8zbcVj",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2032,
        480
      ],
      "id": "96d7d14c-acf4-4292-965d-1811ba4eb1fd",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const httpResp = $node[\"HTTP Request\"].json;\n\nconst safeParse = (value) => {\n\tif (typeof value !== \"string\") return {};\n\ttry {\n\t\treturn JSON.parse(value);\n\t} catch (error) {\n\t\treturn {};\n\t}\n};\n\n// 1ª tentativa: campo `text` da resposta\nlet resposta = safeParse(httpResp?.text);\n\n// 2ª tentativa: mensagem do nó LLM dentro de agentFlowExecutedData\nif (Object.keys(resposta).length === 0) {\n\tconst llmNode = httpResp?.agentFlowExecutedData?.find(\n\t\t(node) => node.nodeLabel === \"LLM 0\"\n\t);\n\n\tconst llmText =\n\t\tllmNode?.data?.output?.messages?.[0]?.content?.[0]?.text ?? \"{}\";\n\n\tresposta = safeParse(llmText);\n}\n\nconst integrationId = $node[\"Webhook\"].json.body.integrationId;\n\nreturn [\n\t{\n\t\tjson: {\n\t\t\tintegration_id: integrationId,\n\t\t\ttriage: {\n\t\t\t\tia_categoria: resposta.ia_categoria ?? \"normal\",\n\t\t\t\tia_urgencia: resposta.ia_urgencia ?? \"baixo\",\n\t\t\t\tia_resumo: resposta.ia_resumo ?? resposta.resumo ?? \"\",\n\t\t\t},\n\t\t\tresumo: resposta.ia_resumo ?? resposta.resumo ?? \"\",\n\t\t\tstatus: \"processado\",\n\t\t},\n\t},\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        464
      ],
      "id": "faddb00b-5d65-4c19-acdc-4506046a5a8c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Você é um analista de segurança"
            },
            {
              "content": "=- Nível: {{$json.triage_level}}\n- Motivo: {{$json.triage_reason}}\n- Resumo: {{$json.triage_resumo}}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1008,
        480
      ],
      "id": "02df3518-7e22-4a71-9cde-46cff5aacd13",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "7Jg417ZnS0JoXvJG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "events",
          "mode": "list",
          "cachedResultName": "events"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_alarm": "={{ $json.body.isAlarm }}",
            "integration_id": "={{ $json.body.integrationId }}",
            "raw_payload": "={{ $json.body.payload }}",
            "status": "completo",
            "created_at": "={{$now}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "device_id",
              "displayName": "device_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "raw_payload",
              "displayName": "raw_payload",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_alarm",
              "displayName": "is_alarm",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "triage",
              "displayName": "triage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resumo",
              "displayName": "resumo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "integration_id",
              "displayName": "integration_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "triage_level",
              "displayName": "triage_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "triage_reason",
              "displayName": "triage_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        368,
        624
      ],
      "id": "007506ab-d47e-410c-be7c-bab54e550075",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "1COFfObCfWiWJvab",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "flowise_logs",
        "fields": "={\n  \"integrationId\": \"{{ $('Webhook').item.json.body.integrationId }}\",\n  \"receivedAt\": \"{{$now}}\",\n  \"event\": {{$json.body | json}},\n  \"triage\": {{$if($(\"HTTP Request\").isExecuted, $(\"HTTP Request\").json | json, null)}},\n  \"summary\": \"{{$if($(\"Message a model\").isExecuted, $(\"Message a model\").json.output[0].content[0].text, \"\")}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        592,
        624
      ],
      "id": "dbb88968-6843-43f8-bb71-4cd7b10c26eb",
      "name": "Insert documents1",
      "credentials": {
        "mongoDb": {
          "id": "NEBkFEDGfL8zbcVj",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "command": "python /workspace/scripts/gerar_relatorio.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        144,
        864
      ],
      "id": "ab8e1f67-10cb-4f9f-bd97-31082f7737ba",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "fileSelector": "/workspace/output/relatorio_alertas.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        560,
        864
      ],
      "id": "c9744fbf-de84-403f-b167-0caffe163171",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"myField\": \"okay\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        752,
        864
      ],
      "id": "2b9e2949-b7c5-48bc-b838-2e617a53d71f",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "   const execOutput = items[0].json;\n   const metadata = execOutput.stdout\n     ? JSON.parse(execOutput.stdout)\n     : { status: 'error', output: '/workspace/output/relatorio_alertas.pdf' };\n\n   return [{ json: metadata }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        864
      ],
      "id": "6a8e96d2-3f1d-4f06-ad3b-d7b944d2eccd",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "events",
          "mode": "list",
          "cachedResultName": "events"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "integration_id": "={{ $('Webhook').item.json.body.integrationId }}",
            "is_alarm": "={{ $('Webhook').item.json.body.isAlarm }}",
            "triage_level": "={{ $('Code in JavaScript').item.json.triage.triage_level }}",
            "triage_reason": "={{ $('Code in JavaScript').item.json.triage.triage_reason }}",
            "status": "completo",
            "created_at": "={{$now}}",
            "raw_payload": "={{ $('Webhook').item.json.body }}",
            "resumo": "={{ $json.triage.ia_resumo }}",
            "triage": "={{ $json.triage }}"
          },
          "matchingColumns": [
            "integration_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "device_id",
              "displayName": "device_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "raw_payload",
              "displayName": "raw_payload",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "is_alarm",
              "displayName": "is_alarm",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "triage",
              "displayName": "triage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "resumo",
              "displayName": "resumo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "integration_id",
              "displayName": "integration_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "triage_level",
              "displayName": "triage_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "triage_reason",
              "displayName": "triage_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1584,
        480
      ],
      "id": "968b3c51-ee2d-4ff5-aa90-50b323ab58ad",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "1COFfObCfWiWJvab",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $node[\"Message a model\"].json.output[0].content[0].text || \"\";\nconst resumoMatch = text.match(/\\*\\*Resumo:\\*\\*\\s*([\\s\\S]*?)\\n\\n/);\n\nconst resumo = resumoMatch ? resumoMatch[1].trim() : text.trim();\n\nreturn [{\n  json: {\n    triage_level: \"normal\",        // substitua pelos campos da IA\n    triage_reason: \"evento comum\",\n    resumo,\n    triage: {\n      ia_categoria: \"normal\",\n      ia_urgencia: \"baixo\",\n      ia_resumo: resumo\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        480
      ],
      "id": "3e2e9b72-a131-4d69-9feb-c54b2ac55c49",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "path": "report",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -64,
        864
      ],
      "id": "926b652b-58ce-459d-9299-b2c3258f7751",
      "name": "Webhook1",
      "webhookId": "209aad7d-c364-4e2b-9369-ba5b54cd91a0"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook post": {
      "main": [
        [
          {
            "node": "Register",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register": {
      "main": [
        [
          {
            "node": "Register insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register insert": {
      "main": [
        [
          {
            "node": "Respond to Webhook register",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete register": {
      "main": [
        [
          {
            "node": "Delete register",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete register": {
      "main": [
        [
          {
            "node": "Query sql delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query sql delete": {
      "main": [
        [
          {
            "node": "Respond to Webhook delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert documents": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Insert documents1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "Insert documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ff26b58a-7dc3-444b-a326-8cc3e1929180",
  "meta": {
    "instanceId": "1f2a3524c38731f0bb1ba2f9820dc59c25d9f4bc6e09ca0e241fe10722c7741e"
  },
  "id": "qmnIhIrssR9bV4Xd",
  "tags": []
}